@model _7_NetCORE.ViewModels.StdDeptCrsViewModel

@{
    ViewData["Title"] = "testView";
}

<h1>testView</h1>

<div>
    <h4>StdDeptCrsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dept.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dept.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dept.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dept.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseList)
        </dt>
        <dd class = "col-sm-10">
            <ol>
                @foreach (var item in Model.CourseList)
                {
                    <li> @item </li>
                }
            </ol>

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrsHrs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrsHrs)
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StdID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
