@model Car
@{
    Car car = Model;
}

<h1>EditCar</h1>

@using (Html.BeginForm("EditCar", "Car", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Num);

    @Html.DisplayNameFor(m => m.Color);
    @Html.EditorFor(m => m.Color); <br />

    @Html.DisplayNameFor(m => m.Model);
    @Html.EditorFor(m => m.Model); <br />

    @Html.DisplayNameFor(m => m.Manufacturer);
    @Html.EditorFor(m => m.Manufacturer); <br />

    <input type="submit" value="Save" />

}

<br />
@Html.ActionLink("Back To List", "GetAllCars", null, new { @class = "btn btn-primary" })