@model List<Car>
@{
    List<Car> Cars = Model;
}

@functions {

    public string FormatHeader(string headerText)
    {
        return $"<strong>{headerText}</strong>";
    }
    public string GetCarStyle(string color)
    {
        return $"color: {color};";
    }

    public string DisplayRow(List<dynamic> rowData, int colspan=1)
    {
        <tr>
            @foreach (var data in rowData)
            {
                if (data is string && data.ToString().StartsWith("&"))
                {
                    <td colspan="@colspan">@Html.Raw(data)</td>
                }
                else if (data is string && data.ToString().StartsWith("@"))
                {
                    
                }
                else
                {
                    <td colspan="@colspan">@data</td>
                }
            }
        </tr>

        return null;
    }
}

<h1>@Html.Raw(FormatHeader("Get All Cars"))</h1>


<table class="table table-bordered table-hover">
    <thead>
        @DisplayRow(new List<dynamic> { "Car Number", "Car Color", "Car Model", "Car Manufacturer", "&nbsp;", "&nbsp;", "&nbsp;" })
    </thead>
    <tbody>
       
        @foreach (var car in Cars)
        {
            <tr>
                <td>@Html.DisplayFor(m => car.Num)</td>
                <td style="@GetCarStyle(car.Color)">@Html.DisplayFor(m => car.Color)</td>
                <td>@Html.DisplayFor(m => car.Model)</td>
                <td>@Html.DisplayFor(m => car.Manufacturer)</td>

                <td> @Html.ActionLink("Select", "SelectCarById", new { id = car.Num }, new { @class = "btn btn-primary" }) </td>

                <td> @Html.ActionLink("Edit", "EditCar", new { id = car.Num }, new { @class = "btn btn-info" }) </td>

                <td> @Html.ActionLink("Delete", "DeleteCar", new { id = car.Num }, new { @class = "btn btn-danger" }) </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                 @Html.ActionLink("Add New Car", "CreateNewCar", null, new { @class = "btn btn-success" })
            </td>
        </tr>
        <tr>
            <td colspan="7">
                @Html.ActionLink("Test Inline", "TestInline", null, new { @class = "btn btn-warning" })
            </td>
        </tr>
    </tfoot>
</table>