@model List<Car>
@{
    List<Car> Cars = Model;
}


<h1>GetAllCars</h1>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Car Number</th>
            <th>Car Color</th>
            <th>Car Model</th>
            <th>Car Manufacturer</th>

            <th> &nbsp; </th>
            <th> &nbsp; </th>
            <th> &nbsp; </th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var car in Cars)
        {
            <tr>
                <td>@Html.DisplayFor(m => car.Num)</td>
                <td>@Html.DisplayFor(m => car.Color)</td>
                <td>@Html.DisplayFor(m => car.Model)</td>
                <td>@Html.DisplayFor(m => car.Manufacturer)</td>

                <td> @Html.ActionLink("Select", "SelectCarById", new { id = car.Num }, new { @class = "btn btn-primary" }) </td>

                <td> @Html.ActionLink("Edit", "EditCar", new { id = car.Num }, new { @class = "btn btn-info" }) </td>

                <td> @Html.ActionLink("Delete", "DeleteCar", new { id = car.Num }, new { @class = "btn btn-danger" }) </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                @Html.ActionLink("Add New Car", "CreateNewCar", null, new { @class = "btn btn-success" })
            </td>
        </tr>
        <tr>
            <td colspan="7">
                @Html.ActionLink("Test Inline", "TestInline", null, new { @class = "btn btn-warning" })
            </td>
        </tr>
    </tfoot>
</table>