@functions{
    public string DisplayFormattedText(string text, string color, string fontSize, string fontWeight)
    {
        return $"<span style='color: {color}; font-size: {fontSize}; font-weight: {fontWeight};'>{text}</span>";
    }
}


<p>@Html.Raw(DisplayFormattedText("Hello, World!", "red", "10px", "bold"))</p>
<p>@Html.Raw(DisplayFormattedText("Welcome to ASP.NET Core MVC!", "blue", "20px", "normal"))</p>
<p>@Html.Raw(DisplayFormattedText("This is a test of inline functions in Razor.", "green", "30px", "italic"))</p>
<p>@Html.Raw(DisplayFormattedText("Enjoy coding!", "purple", "40px", "bold"))</p>
<p>@Html.Raw(DisplayFormattedText("Have a great day!", "orange", "500x", "normal"))</p>
<p>@Html.Raw(DisplayFormattedText("Keep learning!", "teal", "60px", "italic"))</p>
<p>@Html.Raw(DisplayFormattedText("Stay motivated!", "brown", "70px", "bold"))</p>
<p>@Html.Raw(DisplayFormattedText("You can achieve anything!", "navy", "80px", "normal"))</p>
<p>@Html.Raw(DisplayFormattedText("Believe in yourself!", "magenta", "90px", "italic"))</p>
<p>@Html.Raw(DisplayFormattedText("Never give up!", "red", "100px", "bold"))</p>
<p>@Html.Raw(DisplayFormattedText("You are capable of amazing things!", "blue", "110px", "normal"))</p>
