@functions{
    public string DisplayFormattedText(string text, string color, string fontSize, string fontWeight)
    {
        return $"<span style='color: {color}; font-size: {fontSize}; font-weight: {fontWeight};'>{text}</span>";
    }
}


<p>@Html.Raw(DisplayFormattedText("Hello, World!", "red", "16px", "bold"))</p>
<p>@Html.Raw(DisplayFormattedText("Welcome to ASP.NET Core MVC!", "blue", "14px", "normal"))</p>
<p>@Html.Raw(DisplayFormattedText("This is a test of inline functions in Razor.", "green", "12px", "italic"))</p>
<p>@Html.Raw(DisplayFormattedText("Enjoy coding!", "purple", "18px", "bold"))</p>
<p>@Html.Raw(DisplayFormattedText("Have a great day!", "orange", "16px", "normal"))</p>
<p>@Html.Raw(DisplayFormattedText("Keep learning!", "teal", "14px", "italic"))</p>
<p>@Html.Raw(DisplayFormattedText("Stay motivated!", "brown", "16px", "bold"))</p>
<p>@Html.Raw(DisplayFormattedText("You can achieve anything!", "navy", "14px", "normal"))</p>
<p>@Html.Raw(DisplayFormattedText("Believe in yourself!", "magenta", "16px", "italic"))</p>
<p>@Html.Raw(DisplayFormattedText("Never give up!", "red", "18px", "bold"))</p>
<p>@Html.Raw(DisplayFormattedText("You are capable of amazing things!", "blue", "16px", "normal"))</p>
