@model IEnumerable<Day9.Models.TraineeCourse>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Trainee Name
            </th>
            <th>
                Course Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Trainee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { traineeId = item.TraineeID, courseId = item.CourseID }) |
                @Html.ActionLink("Details", "Details", new { traineeId = item.TraineeID, courseId = item.CourseID }) |
                @Html.ActionLink("Delete", "Delete", new { traineeId = item.TraineeID, courseId = item.CourseID })
            </td>
        </tr>
}
    </tbody>
</table>
