@model Product

<div class="card m-3 shadow" style="width:18rem;">
    <img src="~/images/@(Model.Image).png" class="card-img-top" alt="@Model.Name" />
    
    <div class="card-body">
        <h5 class="card-title text-primary">@Model.Name</h5>
        <p class="card-text" style="height: 50px; overflow: hidden;">@Model.Description</p>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: <strong>@Model.Price EGP</strong></li>
    </ul>

    <div class="card-footer d-flex justify-content-between bg-white border-top-0">
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-sm btn-outline-warning">
            <i class="bi bi-pencil"></i> Edit
        </a>
        <a asp-action="Details" asp-route-id="@Model.ID" class="btn btn-sm btn-outline-info">
            <i class="bi bi-eye"></i> Details
        </a>
        <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-sm btn-outline-danger">
            <i class="bi bi-trash"></i> Delete
        </a>
    </div>
</div>